body {
    font-family: Arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 10px;
    margin: 5px;
}


.noturno {
    background-color: black;
    color: white;
}


#conteudo .p{
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

/* capa */
#jogo{
    background-image: url('imagens/moda.png');
    background-size: cover;
    background-position: center;
}

.capa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0000003b;
}

.capa h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #fff;
}

.capa .botao-inicio, .capa .botao-modo-noturno {
    width: 200px;
    margin-bottom: 1rem;
}
#titulo{
    font-family: ui-monospace;
}

#incio{
    color: white;
    text-decoration: none;
}
#botoes{
    background-color: gray;
    color: white;
}

#fotos{
    margin-top:50px;
    height: 250px;
    margin-left: 25%;
    margin-bottom:25px;
}
